/*
*{
    padding: 0px;
    margin: 0px;
}*/
/* ################################################--------body style-----------###################################*/
.open-sans-normal {
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-variation-settings: "100";
  font-style: normal;
}

/*#########################################################------shared-style-------##################################################*/
/*#########################################################-------------------------##################################################*/
.second-bg {
  background-color: #fff8f3;
}
.text-primary {
  color: #fd6e0a;
}
.text-center{
    text-align: center;
}
.dark-2 {
  color: #474747;
}
.dark-3 {
  color: #757575;
}
.btn-primary {
  padding: 18px 35px;
  background-color: #fd6e0a;
  border: #fd6e0a solid 1px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  /*------bold=700-----------*/
  font-size: 20px;
}
.section-title {
  font-weight: bold;
  font-size: 35px;
  color: #181818;
  text-align: center;
}
.section-des {
  font-weight: 400;
  font-size: 18px;
  /*color: .dark-3*/
}

/*------###########################################---------header style----------###########################*/

.header {
  background-image: url(./portfolio-resources/images/developer.png),
    url(./portfolio-resources/images/header_bg.png);
  background-repeat: no-repeat;
  background-position: top left, bottom right;
}

/*------############################################---------main style----------###########################*/

/*###################################################---- navbar style-------######################################################## #########*/
/*###################################################------------------------######################################################## #########*/

#nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 50px 100px;
}
.nav-title {
  font-weight: 800px;
  font-size: 45px;
}
nav ul {
  display: flex;
  align-items: center;
}
nav ul li {
  list-style: none;
  margin-right: 50px;
}
nav li a {
  text-decoration: none;
  font-size: 20px;
}
/*###################################################---- banner style-------######################################################## #########*/
/*###################################################------------------------######################################################## #########*/

.banner {
  display: flex;
  justify-content: space-between;
}
.banner-content {
  max-width: 585px;
  max-height: 356px;
  margin: 0 35px 0 230px;
}
.banner-greetings {
  font-weight: 600;
  /* (font-weight - semibold=600) */
  font: size 45px;
  margin: 10px;
}
.banner-title {
  font-weight: bold;
  font-size: 85px;
  margin: 10px;
}
.banner-des {
  font-weight: 400;
  /*  (font-weight -regular=600) --*/
  font-size: 18px;
}
.profile-picture {
  height: 676px;
  width: 584px;
}

/*------############################################---------main style----------###########################*/
        main{
            max-width: 1140px;
            margin: 0 auto;
        }
        main section{
            margin-top: 130px;
            margin-bottom: 130px;
        }

/*###################################################---- section-"about-me" style-------######################################################## #########*/
/*###################################################---------------------------######################################################## #########*/
.about{
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
    margin-top: 130px;

}
.about-items{
    display: flex;
   justify-content: space-around;
}
.about-title{
    font-weight: 400;
    font-size: 20px;
    /*color: .dark-3*/
}
.item-des{
    font-weight: bold;
    font-size: 20;
    /*color: .dark-2*/
}

/*###################################################---- section-"What I do" style-------######################################################## #########*/

.skills{margin-top: 130px;

    
}
.skills-continer{
    display: flex;
    height: 377px;
    justify-content: space-around;
    gap: 24px;


}
.skill{
    width: 267px;
    padding: 33px;
    margin: 5px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.skill-des{
    /*padding: 33px;*/

}
/*###################################################-----"footer" style-------######################################################## #########*/

.resume-container{
    display: flex;
    gap: 24px;
 
}
.resume-column-title{
    font-size: 30px;
    font-weight: bold;
}
.experience-title{
    font-size: 25px;
    font-weight: bold;
    margin: 10px;
    color: #757575;

}
.experience-sub-title{
    font-size: 20px;
    font-weight: 600;
    margin: 10px;
}
.experience-des{
    font-size: 16px;
    font-weight: 400;
}
.resume hr{
    margin: 30px 5px;
    
}
.resume-download-cv{
    margin-top: 50px;
}

/*###################################################---- footer style-------######################################################## #########*/
footer{
    display: flex;
    gap: 100px;
    padding: 130px 230px;
}
.footer-column{
    width: 50%;
}
footer input[type="text"], footer input[type="email"], footer textarea{
    height: 64px;
    border-radius: 5px;
    background-color: white;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 24px;
    border: none;
}